<!DOCTYPE html>
<html th:fragment="site" lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- Head Fragment -->
    <!-- To call use "fragments/site :: head" -->
    <head th:fragment="head">
        <meta charset="UTF-8">
        <!-- Concatenate the page title with the site title separated by a "-" -->
        <!-- For example "Home - My Site" or "About - My Site" -->
        <title th:text="| ${pageTitle} - ${siteTitle} |">Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <link th:href="@{~/css/site.css}" rel="stylesheet" >
    </head>


    <!-- Footer fragment -->
    <!-- To call use "fragments/site :: footer" -->
    <footer th:fragment="footer" class="footer">
        <p>Author: Daffy Duck</p>
        <p><a href="mailto:daffy@example.com">daffy@example.com</a></p>
    </footer>

    <!-- Nav fragment -->
    <!-- To call use "fragments/site :: nav" -->
    <nav th:fragment="nav" class="nav justify-content-center">
        <!-- Conditional operator to determine the active page -->
        <a th:class="${#strings.equalsIgnoreCase(pageTitle, 'Home')? 'nav-link active' : 'nav-link'}" th:href="@{/}">Home</a>
        <a th:class="${#strings.equalsIgnoreCase(pageTitle, 'About')? 'nav-link active' : 'nav-link'}" th:href="@{about}">About</a>
        <a th:class="${#strings.equalsIgnoreCase(pageTitle, 'Contact')? 'nav-link active' : 'nav-link'}" th:href="@{contact}">Contact</a>
    </nav>

</html>