<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<editor-fold desc="2.1 - Multiple fragments">-->
<head th:replace="fragments/site :: head"></head>
<!--</editor-fold>-->
<body>
    <!--<editor-fold desc="3.0 - Navigation">-->
    <nav th:replace="fragments/site :: nav"></nav>
    <!--</editor-fold>-->

    <h1 class="text-center">About Us</h1>

    <!-- Placeholder text -->
    <p class="text-center w-75 mx-auto">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus cum hic officiis quos.
        Assumenda atque consequuntur culpa dolore ducimus, fugiat iure mollitia nesciunt nobis odit
        repellat, repudiandae, saepe veniam vitae voluptatibus. Ad aliquid, dolores ea fuga nesciunt
        quas sit suscipit voluptas. Aperiam assumenda dolores eius optio perferendis quidem sapiente
        tenetur totam? Aspernatur beatae consectetur culpa deleniti iste rem sint, totam voluptatem.
        Atque autem consectetur consequatur debitis dicta distinctio dolores eaque enim fugiat harum,
        ipsum minima nobis, nulla obcaecati provident reiciendis repellat repudiandae rerum, sequi
        tempora unde vel voluptatum? Adipisci aperiam consequuntur cupiditate ducimus, earum ipsa
        libero modi molestiae natus nulla, officiis omnis quibusdam quisquam ratione recusandae!
        Adipisci amet aspernatur blanditiis consequuntur, debitis dolor dolorum error est eum ex fugit
        hic illum impedit incidunt ipsa iste labore laborum laudantium maiores nemo nihil nisi, nobis
        nulla officia omnis optio pariatur possimus praesentium quaerat qui quis quos recusandae rem
        sint temporibus vel voluptate. A aliquid amet architecto asperiores aut blanditiis dolor doloribus
        eaque earum illo, illum in, iure laboriosam natus nemo nostrum odit optio placeat quasi sed
        similique sit sunt temporibus unde vel vitae voluptate. Alias aperiam, delectus dignissimos eaque
        et eum inventore, itaque minima nihil numquam odit quisquam rerum sunt velit vero?
    </p>
</body>
</html>